Source: react-native
Priority: optional
Maintainer: Justin McPherson <justin.mcpherson@canonical.com>
Build-Depends: debhelper (>= 9),
               dh-make,
               npm (>= 3.5.2-0ubuntu4),
Standards-Version: 3.9.5
Section: universe/web
Homepage: https://github.com/CanonicalLtd/react-native

Package: react-native
Architecture: all
Depends: nodejs-legacy (>= 4.2.6~dfsg-1ubuntu4),
         npm (>= 3.5.2-0ubuntu4)
Description: React Natve Command Line tool
 Command line tool for creating and managing React Native applications

